doctype html
html.no-js
    head
        meta(charset="utf-8")
        title Angular Test APP
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='styles/sample.css')

    body(ng-app='AngularTestApp')

        .sample-container(ui-view)
        github-container.sample-container
        script(src='scripts/app.min.js')
